{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="hero_banner image-cover" style="background:#2faf5c url({% static 'images/banner.jpeg' %}) no-repeat;" data-overlay="5" id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-7 col-md-8 col-sm-12">
                <div class="simple-search-wrap text-left">
                    <div class="hero_search-2">
                        <div class="elsio_tag">Welcome Home</div>
                        <h1 class="banner_title mb-4">Welcome to MettaCoin Cryptocurrency</h1>
                        <p class="font-lg mb-4 b-22">MettaCoin is well-known cryptocurrency coin  informing the populace about investment opportunities that can generate massive passive income and can help them generate cryptocurrency coin.</p>
                        <div class="input-group simple_search">
                    {% if not request.user.is_authenticated %}   
                        <div class="btn-22">
                                                                    <a href="https://mettacoin.tk/register" class="proo add-listing theme-bg"> Get Started</a>
                                                                </div>
                    {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="p-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="crp_box fl_color ovr_top">
                    <div class="row align-items-center">
                        
                        
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 de"><i class="fa fa-users"></i></div>
                                <div class="dro_142">
                                    <h5>Unlimited</h5>
                                    <p>Users</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 de"><i class="fa fa-money"></i></div>
                                <div class="dro_142">
                                    <h6>$10K+</h6>
                                    <p>Deposit</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="dro_140">
                                <div class="dro_141 de"><i class="fa fa-download"></i></div>
                                <div class="dro_142">
                                    <h6>$38K+</h6>
                                    <p>Withdraw</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</section>
<section class="pt-0 gray" id="service">
    <div class="container">	
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>How this<span class="theme-cl"> Works</span></h2>
                </div>	
                        
            </div>
        </div>			
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="side_block extream_img">
                    <div class="list_crs_img">
                        <img src="http://test.potholefinder.com.ng/assets/img/at-1.png" class="img-fluid elsio cirl animate-fl-y" alt="" />
                        <img src="http://test.potholefinder.com.ng/assets/img/at-3.png" class="img-fluid elsio arrow animate-fl-x" alt="" />
                        <img src="http://test.potholefinder.com.ng/assets/img/at-2.png" class="img-fluid elsio moon animate-fl-x" alt="" />
                    </div>
                    <img src="http://test.potholefinder.com.ng/assets/img/st-2.png" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
                <div class="lmp_caption">
                    <ol class="list-unstyled p-0">
                                                              <li class="d-flex align-items-start my-3 my-md-4">
                            <div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center theme-bg">
                              <div class="position-absolute text-white h5 mb-0"><i class="fa fa-credit-card"></i></div>
                            </div>
                            <div class="ml-3 ml-md-4">
                              <h4>Fund Your Digital Wallet</h4>
                              <p>
                                We use a very hitch-free way as our deposit method that let&#039;s you  pick package and deposit your money without any hassle.
                              </p>
                            </div>
                          </li>
                                                              <li class="d-flex align-items-start my-3 my-md-4">
                            <div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center theme-bg">
                              <div class="position-absolute text-white h5 mb-0"><i class="fa fa-university"></i></div>
                            </div>
                            <div class="ml-3 ml-md-4">
                              <h4>Utilize Money</h4>
                              <p>
                                We have a group of skilled and professionals traders working all the time utilizing your money in the trading and cryptocurrency market with just simple task from your end.
                              </p>
                            </div>
                          </li>
                                                              <li class="d-flex align-items-start my-3 my-md-4">
                            <div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center theme-bg">
                              <div class="position-absolute text-white h5 mb-0"><i class="fa fa-money"></i></div>
                            </div>
                            <div class="ml-3 ml-md-4">
                              <h4>Get Huge Returns</h4>
                              <p>
                                We utilize your money and offer you the highest profit margins value providing a high income source.
                              </p>
                            </div>
                          </li>
                    </ol>
                </div>
            </div>
        </div>
        
    </div>
</section>

<div class="clearfix"></div>
<!-- ============================ How It Works End ================================== -->
        <!--Start Why Choose Area-->
<!--End Why Choose Area--><hr>
<section class="min">
    <div class="container" id="features">
    <section class="min">
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>Our<span class="theme-cl"> Features</span></h2>
                    
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
                                <!-- Single Item -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="prd_grid_box">
                    <!--<div class="prd_label new">New</div>-->
                    <div class="shd_142">
                        <div class="prt_saveed_12lk">
                            <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-fa-address-card"></i></label>
                        </div>
                    </div>
                    <div class="prd_grid_thumb">
                        <a href="#"><img src="assets/img/app.png" class="img-fluid" width="50" alt=""></a>
                    </div>
                    <div class="prd_grid_caption">
                        <div class="prd_center_capt">
                            
                            <div class="prd_title"><h4>EASY WITHDRAWAL AND FAST PAYMENT</h4></div>
                            <div class="prd_price_info">
                                <h5 class="org_prc"><span class="old_prc">Enjoy the fastest payment with swift withdrawal</span></h5>
                            </div>
                        </div>
                        <div class="prd_bot_capt">
                            <div class="prd_button">
                                <a class="bth bth_prd"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
                                <!-- Single Item -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="prd_grid_box">
                    <!--<div class="prd_label new">New</div>-->
                    <div class="shd_142">
                        <div class="prt_saveed_12lk">
                            <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-lock"></i></label>
                        </div>
                    </div>
                    <div class="prd_grid_thumb">
                        <a href="#"><img src="assets/img/app.png" class="img-fluid" width="50" alt=""></a>
                    </div>
                    <div class="prd_grid_caption">
                        <div class="prd_center_capt">
                            
                            <div class="prd_title"><h4>Secure</h4></div>
                            <div class="prd_price_info">
                                <h5 class="org_prc"><span class="old_prc">We constantly work on improving our system and level of our security to minimize any potential risks.</span></h5>
                            </div>
                        </div>
                        <div class="prd_bot_capt">
                            <div class="prd_button">
                                <a class="bth bth_prd"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
                                <!-- Single Item -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="prd_grid_box">
                    <!--<div class="prd_label new">New</div>-->
                    <div class="shd_142">
                        <div class="prt_saveed_12lk">
                            <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-bars"></i></label>
                        </div>
                    </div>
                    <div class="prd_grid_thumb">
                        <a href="#"><img src="assets/img/app.png" class="img-fluid" width="50" alt=""></a>
                    </div>
                    <div class="prd_grid_caption">
                        <div class="prd_center_capt">
                            
                            <div class="prd_title"><h4>Profitable</h4></div>
                            <div class="prd_price_info">
                                <h5 class="org_prc"><span class="old_prc">We will utilize your money which will be performed by qualified professional traders and provide a high income.</span></h5>
                            </div>
                        </div>
                        <div class="prd_bot_capt">
                            <div class="prd_button">
                                <a class="bth bth_prd"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
                                <!-- Single Item -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="prd_grid_box">
                    <!--<div class="prd_label new">New</div>-->
                    <div class="shd_142">
                        <div class="prt_saveed_12lk">
                            <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-bitcoin"></i></label>
                        </div>
                    </div>
                    <div class="prd_grid_thumb">
                        <a href="#"><img src="assets/img/app.png" class="img-fluid" width="50" alt=""></a>
                    </div>
                    <div class="prd_grid_caption">
                        <div class="prd_center_capt">
                            
                            <div class="prd_title"><h4>MULTIPLE WAYS OF EARNING</h4></div>
                            <div class="prd_price_info">
                                <h5 class="org_prc"><span class="old_prc">MettaCoin Cryptocurrency gives you unlimited chances of earnings</span></h5>
                            </div>
                        </div>
                        <div class="prd_bot_capt">
                            <div class="prd_button">
                                <a class="bth bth_prd"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
                                <!-- Single Item -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <div class="prd_grid_box">
                    <!--<div class="prd_label new">New</div>-->
                    <div class="shd_142">
                        <div class="prt_saveed_12lk">
                            <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-life-ring"></i></label>
                        </div>
                    </div>
                    <div class="prd_grid_thumb">
                        <a href="#"><img src="assets/img/app.png" class="img-fluid" width="50" alt=""></a>
                    </div>
                    <div class="prd_grid_caption">
                        <div class="prd_center_capt">
                            
                            <div class="prd_title"><h4>SUPPORT</h4></div>
                            <div class="prd_price_info">
                                <h5 class="org_prc"><span class="old_prc">We provide 24/7 customer customer support. We are here to offer you the best support.</span></h5>
                            </div>
                        </div>
                        <div class="prd_bot_capt">
                            <div class="prd_button">
                                <a class="bth bth_prd"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    
    </div>
</section>
            <section>
                <div class="container" id="faq">
                    <div class="row justify-content-center">
                        <div class="col-lg-7 col-md-8">
                            <div class="sec-heading center">
                                <h2>Frequently <span class="theme-cl">Asked Questions</span></h2>
                            </div>	
                                    
                        </div>
                    </div>
                    <div class="row justify-content-center">
                             
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="cates_crs_wrip">
                                    <div class="crs_trios">
                                        <div class="crs_cate_icon"><img src="https://www.pinclipart.com/picdir/middle/523-5234419_question-mark-clip-art-clipart-question-mark-transparent.png" width="50" alt=""></div>
                                        <!--<div class="crs_cate_link"><a href="#">View Details</a></div>-->
                                    </div>
                                    <div class="crs_capt_cat">
                                        <h4>Q.1: Need more Enquiries?</h4>
                                        <p>Needed more questions clarified and necessary information about us and our operations. Kindly write to us at help@mettacoin.tk or firstmetacoin@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                            
            
                            
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="cates_crs_wrip">
                                    <div class="crs_trios">
                                        <div class="crs_cate_icon"><img src="https://www.pinclipart.com/picdir/middle/523-5234419_question-mark-clip-art-clipart-question-mark-transparent.png" width="50" alt=""></div>
                                        <!--<div class="crs_cate_link"><a href="#">View Details</a></div>-->
                                    </div>
                                    <div class="crs_capt_cat">
                                        <h4>Q.2: What is Referral Commission ?</h4>
                                        <p>Direct Earnings are based on the package chosen by user ($10 as minimum withdrawal) Referral commission you earn when you refer five(5) new users to our company. Indirect earnings are based on 4% referral commission you earn when your downlines refer. These sum up to a whopping referral commission of 20%</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="cates_crs_wrip">
                                    <div class="crs_trios">
                                        <div class="crs_cate_icon"><img src="https://www.pinclipart.com/picdir/middle/523-5234419_question-mark-clip-art-clipart-question-mark-transparent.png" width="50" alt=""></div>
                                        <!--<div class="crs_cate_link"><a href="#">View Details</a></div>-->
                                    </div>
                                    <div class="crs_capt_cat">
                                        <h4>Q.3: What is MettaCoin?</h4>
                                        <p>MettaCoin is cryptocurrrency digital coin that allow ordinary people to make money from the comfort of there home</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                <div class="cates_crs_wrip">
                                    <div class="crs_trios">
                                        <div class="crs_cate_icon"><img src="https://www.pinclipart.com/picdir/middle/523-5234419_question-mark-clip-art-clipart-question-mark-transparent.png" width="50" alt=""></div>
                                        <!--<div class="crs_cate_link"><a href="#">View Details</a></div>-->
                                    </div>
                                    <div class="crs_capt_cat">
                                        <h4>Q.4: When would I see my earned profit?</h4>
                                        <p>Every paid esteemed users get and see earned profit on their wallet address on every 5th, 10th and 30th of the Month</p>
                                    </div>
                                </div>
                            </div>
                                                        </div>
                </div>
            </section>
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
    <div class="modal-dialog modal-xl login-pop-form" role="document">
        <div class="modal-content overli" id="loginmodal">
            <div class="modal-header">
                <h5 class="modal-title">Login Your Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
                </button>
              </div>
            <div class="modal-body">
                <div class="login-form">
                    <form>
                    
                        <div class="form-group">
                            <label>User Name</label>
                            <div class="input-with-icon">
                                <input type="text" class="form-control" placeholder="User or email">
                                <i class="ti-user"></i>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label>Password</label>
                            <div class="input-with-icon">
                                <input type="password" class="form-control" placeholder="*******">
                                <i class="ti-unlock"></i>
                            </div>
                        </div>
                        
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-md full-width theme-bg text-white">Login</button>
                        </div>
                        
                        <div class="rcs_log_125 pt-2 pb-3">
                            <span>Or Login with Social Info</span>
                        </div>
                        <div class="rcs_log_126 full">
                            <ul class="social_log_45 row">
                                <li class="col-xl-4 col-lg-4 col-md-4 col-4"><a href="javascript:void(0);" class="sl_btn"><i class="ti-facebook text-info"></i>Facebook</a></li>
                                <li class="col-xl-4 col-lg-4 col-md-4 col-4"><a href="javascript:void(0);" class="sl_btn"><i class="ti-google text-danger"></i>Google</a></li>
                                <li class="col-xl-4 col-lg-4 col-md-4 col-4"><a href="javascript:void(0);" class="sl_btn"><i class="ti-twitter theme-cl"></i>Twitter</a></li>
                            </ul>
                        </div>
                    
                    </form>
                </div>
            </div>
            <div class="crs_log__footer d-flex justify-content-between mt-0">
                <div class="fhg_45"><p class="musrt">Don't have account? <a href="#" class="theme-cl">SignUp</a></p></div>
                <div class="fhg_45"><p class="musrt"><a href="#" class="text-danger">Forgot Password?</a></p></div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->





</div>



{% endblock content %}