{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="app">
        
    <section class="page-content">

        <!--Start Contact Area-->
        <div class="contact-wrap">
            <!--Start Container-->
            <div class="container">
                <!--Start Row-->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <!--Start Contact Form-->
                        <div class="contact-form">
                            <!--Start Section Heading-->
                            <div class="section-heading text-center">
                                <h2 class="title">Login Here</h2>
                            </div>

                                                    <!--End Section Heading-->
                            <form action="" method="POST">
                                   {% csrf_token %}
                                {% if messages %}
                                   {% for message in messages %}
                                            <div class=".alert-danger" role="alert">
                                                {{message}}
                                            </div>
						           {% endfor %}
                                {% endif %}
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username"  placeholder="Enter Username" required>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control"  name="password" placeholder="Enter Your Password" required>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="contact-frm-btn text-center">
                                            <button type="submit" class="cont-btn btn-block" style="width: 100%">Sign In</button>
                                        </div>
                                    </div>
                
                                    <div class="col-md-12 text-right">
                                        <a href="{% url 'register' %}">Create An Account</a>
                                    </div>
                                </div>


                                                            </form>
                        </div>
                        <!--End Contact Form-->
                    </div>
                </div>
                <!--End Row-->
            </div>
            <!--End Container-->
        </div>
        <!--End Contact Area-->
    </section>

    </div>

{% endblock content %}