
{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="app">
        
    <div class="hero_banner image-cover" style="background:#2faf5c url({% static 'images/banner.jpeg' %}) no-repeat;" data-overlay="5" id="home">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-7 col-md-8 col-sm-12">
                        <div class="simple-search-wrap text-left">
                            <div class="hero_search-2">
                                <div class="elsio_tag">OUR PACKAGE</div>
                                <h1 class="banner_title mb-4">Get Ready To Become Financially Free</h1>
                                <p class="font-lg mb-4 b-22">MettaCoin is well-known cryptocurrency coin  informing the populace about investment opportunities that can generate massive passive income and can help them generate cryptocurrency coin</p>
                                <div class="input-group simple_search">
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="clearfix"></div>
        <!-- ============================ How It Works End ================================== -->
                <!--Start Why Choose Area-->
    <section class="why-choose-area" id="about">
        <!--Start Container-->
        <div class="container">
            <!--Start Row-->
            <div class="row">
                <!--Start Col-7-->
                <div class="col-md-12">
                
                </div>
                <!--End Col-7-->

            </div>
            <!--End Row-->
        </div>
        <!--End Container-->
    </section>
        <section class="gray">
            <div class="container">
            
                <section class="min">
            <div class="container" id="plan">
                
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-8">
                        <div class="sec-heading center">
                            <h2>Our <span class="theme-cl">Plans</span></h2>
                            
                        </div>
                    </div>
                </div>
                
                <div class="row justify-content-center">
                 <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="prd_grid_box">
                            
                            <div class="shd_142">
                                <div class="prt_saveed_12lk">
                                    <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                                </div>
                            </div>
                            <div class="prd_grid_thumb">
                                <a href="#"><img src="assets/img/app.png" class="img-fluid" width="50" alt=""></a>
                            </div>
                            <div class="prd_grid_caption">
                                <div class="prd_center_capt">
                                    
                                    <div class="prd_title"><h4>JASPER</h4></div>
                                    <div class="prd_price_info">
                                        <h5 class="org_prc">Features</h5><hr>
                                                                                        <h5 class="org_prc">Amount: $10</h5><hr>
                                                                                    
                                                                                        <h5 class="org_prc"> <span class="label label-warning">Capital Will Store</span></h5><hr>
                                                                                        <h5 class="org_prc"><span class="old_prc">Interest:  6% </span></h5><hr>
                                                                                    <h5 class="org_prc"><span class="old_prc">Validity:  720 Hour </span></h5><hr>
                                        <h5 class="org_prc"><span class="old_prc">24/7Support</span></h5><hr>
                                    </div>
                                </div>
                                <div class="prd_bot_capt">
                                    <div class="prd_button">
                                                                                    <a href="{% url 'package' %}?sub_plan=Jasper"  class="bth bth_prd">Subscribe</a>
                                                                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="prd_grid_box">
                        
                            <div class="shd_142">
                                <div class="prt_saveed_12lk">
                                    <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                                </div>
                            </div>
                            <div class="prd_grid_thumb">
                                <a href="#"><img src="assets/img/app.png" class="img-fluid" width="50" alt=""></a>
                            </div>
                            <div class="prd_grid_caption">
                                <div class="prd_center_capt">
                                    
                                    <div class="prd_title"><h4>ONYNX</h4></div>
                                    <div class="prd_price_info">
                                        <h5 class="org_prc">Features</h5><hr>
                                                                                        <h5 class="org_prc">Amount: $15</h5><hr>
                                                                                    
                                                                                        <h5 class="org_prc"> <span class="label label-warning">Capital Will Store</span></h5><hr>
                                                                                        <h5 class="org_prc"><span class="old_prc">Interest:  6% </span></h5><hr>
                                                                                    <h5 class="org_prc"><span class="old_prc">Validity:  720 Hour </span></h5><hr>
                                        <h5 class="org_prc"><span class="old_prc">24/7Support</span></h5><hr>
                                    </div>
                                </div>
                                <div class="prd_bot_capt">
                                    <div class="prd_button">
                                                                                    <a href="{% url 'package' %}?sub_plan=Onynx"  class="bth bth_prd">Subscribe</a>
                                                                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="prd_grid_box">

                            <div class="shd_142">
                                <div class="prt_saveed_12lk">
                                    <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                                </div>
                            </div>
                            <div class="prd_grid_thumb">
                                <a href="#"><img src="assets/img/app.png" class="img-fluid" width="50" alt=""></a>
                            </div>
                            <div class="prd_grid_caption">
                                <div class="prd_center_capt">
                                    
                                    <div class="prd_title"><h4>OBSIDIAN</h4></div>
                                    <div class="prd_price_info">
                                        <h5 class="org_prc">Features</h5><hr>
                                                                                        <h5 class="org_prc">Amount: $25</h5><hr>
                                                                                    
                                                                                        <h5 class="org_prc"> <span class="label label-warning">Capital Will Store</span></h5><hr>
                                                                                        <h5 class="org_prc"><span class="old_prc">Interest:  8% </span></h5><hr>
                                                                                    <h5 class="org_prc"><span class="old_prc">Validity:  720 Hour </span></h5><hr>
                                        <h5 class="org_prc"><span class="old_prc">24/7Support</span></h5><hr>
                                    </div>
                                </div>
                                <div class="prd_bot_capt">
                                    <div class="prd_button">
                                                                                    <a href="{% url 'package' %}?sub_plan=Obsidian"  class="bth bth_prd">Subscribe</a>
                                                                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="prd_grid_box">
                            
                            <div class="shd_142">
                                <div class="prt_saveed_12lk">
                                    <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                                </div>
                            </div>
                            <div class="prd_grid_thumb">
                                <a href="#"><img src="assets/img/app.png" class="img-fluid" width="50" alt=""></a>
                            </div>
                            <div class="prd_grid_caption">
                                <div class="prd_center_capt">
                                    
                                    <div class="prd_title"><h4>PEARL</h4></div>
                                    <div class="prd_price_info">
                                        <h5 class="org_prc">Features</h5><hr>
                                                                                        <h5 class="org_prc">Amount: $35</h5><hr>
                                                                                    
                                                                                        <h5 class="org_prc"> <span class="label label-warning">Capital Will Store</span></h5><hr>
                                                                                        <h5 class="org_prc"><span class="old_prc">Interest:  10% </span></h5><hr>
                                                                                    <h5 class="org_prc"><span class="old_prc">Validity:  720 Hour </span></h5><hr>
                                        <h5 class="org_prc"><span class="old_prc">24/7Support</span></h5><hr>
                                    </div>
                                </div>
                                <div class="prd_bot_capt">
                                    <div class="prd_button">
                                                                                    <a href="{% url 'package' %}?sub_plan=Pearl"  class="bth bth_prd">Subscribe</a>
                                                                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="prd_grid_box">
                        
                            <div class="shd_142">
                                <div class="prt_saveed_12lk">
                                    <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                                </div>
                            </div>
                            <div class="prd_grid_thumb">
                                <a href="#"><img src="assets/img/app.png" class="img-fluid" width="50" alt=""></a>
                            </div>
                            <div class="prd_grid_caption">
                                <div class="prd_center_capt">
                                    
                                    <div class="prd_title"><h4>RUBY</h4></div>
                                    <div class="prd_price_info">
                                        <h5 class="org_prc">Features</h5><hr>
                                                                                        <h5 class="org_prc">Amount: $80</h5><hr>
                                                                                    
                                                                                        <h5 class="org_prc"> <span class="label label-warning">Capital Will Store</span></h5><hr>
                                                                                        <h5 class="org_prc"><span class="old_prc">Interest:  10% </span></h5><hr>
                                                                                    <h5 class="org_prc"><span class="old_prc">Validity:  720 Hour </span></h5><hr>
                                        <h5 class="org_prc"><span class="old_prc">24/7Support</span></h5><hr>
                                    </div>
                                </div>
                                <div class="prd_bot_capt">
                                    <div class="prd_button">
                                                                                    <a href="{% url 'package' %}?sub_plan=Ruby"  class="bth bth_prd">Subscribe</a>
                                                                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="prd_grid_box">
                        
                            <div class="shd_142">
                                <div class="prt_saveed_12lk">
                                    <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                                </div>
                            </div>
                            <div class="prd_grid_thumb">
                                <a href="#"><img src="assets/img/app.png" class="img-fluid" width="50" alt=""></a>
                            </div>
                            <div class="prd_grid_caption">
                                <div class="prd_center_capt">
                                    
                                    <div class="prd_title"><h4>SAPPHIRE</h4></div>
                                    <div class="prd_price_info">
                                        <h5 class="org_prc">Features</h5><hr>
                                                                                        <h5 class="org_prc">Amount: $100</h5><hr>
                                                                                    
                                                                                        <h5 class="org_prc"> <span class="label label-warning">Capital Will Store</span></h5><hr>
                                                                                        <h5 class="org_prc"><span class="old_prc">Interest:  13% </span></h5><hr>
                                                                                    <h5 class="org_prc"><span class="old_prc">Validity:  720 Hour </span></h5><hr>
                                        <h5 class="org_prc"><span class="old_prc">24/7Support</span></h5><hr>
                                    </div>
                                </div>
                                <div class="prd_bot_capt">
                                    <div class="prd_button">
                                                                                    <a href="{% url 'package' %}?sub_plan=Sapphire"  class="bth bth_prd">Subscribe</a>
                                                                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="prd_grid_box">
                        
                            <div class="shd_142">
                                <div class="prt_saveed_12lk">
                                    <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                                </div>
                            </div>
                            <div class="prd_grid_thumb">
                                <a href="#"><img src="assets/img/app.png" class="img-fluid" width="50" alt=""></a>
                            </div>
                            <div class="prd_grid_caption">
                                <div class="prd_center_capt">
                                    
                                    <div class="prd_title"><h4>TOPAZ</h4></div>
                                    <div class="prd_price_info">
                                        <h5 class="org_prc">Features</h5><hr>
                                                                                        <h5 class="org_prc">Amount: $350</h5><hr>
                                                                                    
                                                                                        <h5 class="org_prc"> <span class="label label-warning">Capital Will Store</span></h5><hr>
                                                                                        <h5 class="org_prc"><span class="old_prc">Interest:  14% </span></h5><hr>
                                                                                    <h5 class="org_prc"><span class="old_prc">Validity:  720 Hour </span></h5><hr>
                                        <h5 class="org_prc"><span class="old_prc">24/7Support</span></h5><hr>
                                    </div>
                                </div>
                                <div class="prd_bot_capt">
                                    <div class="prd_button">
                                                                                    <a href="{% url 'package' %}?sub_plan=Topaz"  class="bth bth_prd">Subscribe</a>
                                                                                </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="prd_grid_box">
                        
                            <div class="shd_142">
                                <div class="prt_saveed_12lk">
                                    <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                                </div>
                            </div>
                            <div class="prd_grid_thumb">
                                <a href="#"><img src="assets/img/app.png" class="img-fluid" width="50" alt=""></a>
                            </div>
                            <div class="prd_grid_caption">
                                <div class="prd_center_capt">
                                    
                                    <div class="prd_title"><h4>OPAL</h4></div>
                                    <div class="prd_price_info">
                                        <h5 class="org_prc">Features</h5><hr>
                                                                                        <h5 class="org_prc">Amount: $500</h5><hr>
                                                                                    
                                                                                        <h5 class="org_prc"> <span class="label label-warning">Capital Will Store</span></h5><hr>
                                                                                        <h5 class="org_prc"><span class="old_prc">Interest:  15% </span></h5><hr>
                                                                                    <h5 class="org_prc"><span class="old_prc">Validity:  720 Hour </span></h5><hr>
                                        <h5 class="org_prc"><span class="old_prc">24/7Support</span></h5><hr>
                                    </div>
                                </div>
                                <div class="prd_bot_capt">
                                    <div class="prd_button">
                                                                                    <a href="{% url 'package' %}?sub_plan=Opal"  class="bth bth_prd">Subscribe</a>
                                                                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="prd_grid_box">
                        
                            <div class="shd_142">
                                <div class="prt_saveed_12lk">
                                    <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                                </div>
                            </div>
                            <div class="prd_grid_thumb">
                                <a href="#"><img src="assets/img/app.png" class="img-fluid" width="50" alt=""></a>
                            </div>
                            <div class="prd_grid_caption">
                                <div class="prd_center_capt">
                                    
                                    <div class="prd_title"><h4>BRONZE</h4></div>
                                    <div class="prd_price_info">
                                        <h5 class="org_prc">Features</h5><hr>
                                                                                        <h5 class="org_prc">Amount: $1000</h5><hr>
                                                                                    
                                                                                        <h5 class="org_prc"> <span class="label label-warning">Capital Will Store</span></h5><hr>
                                                                                        <h5 class="org_prc"><span class="old_prc">Interest:  17.5% </span></h5><hr>
                                                                                    <h5 class="org_prc"><span class="old_prc">Validity:  720 Hour </span></h5><hr>
                                        <h5 class="org_prc"><span class="old_prc">24/7Support</span></h5><hr>
                                    </div>
                                </div>
                                <div class="prd_bot_capt">
                                    <div class="prd_button">
                                                                                    <a href="{% url 'package' %}?sub_plan=Bronze"  class="bth bth_prd">Subscribe</a>
                                                                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="prd_grid_box">
                        
                            <div class="shd_142">
                                <div class="prt_saveed_12lk">
                                    <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                                </div>
                            </div>
                            <div class="prd_grid_thumb">
                                <a href="#"><img src="assets/img/app.png" class="img-fluid" width="50" alt=""></a>
                            </div>
                            <div class="prd_grid_caption">
                                <div class="prd_center_capt">
                                    
                                    <div class="prd_title"><h4>SILVER</h4></div>
                                    <div class="prd_price_info">
                                        <h5 class="org_prc">Features</h5><hr>
                                                                                        <h5 class="org_prc">Amount: $3000</h5><hr>
                                                                                    
                                                                                        <h5 class="org_prc"> <span class="label label-warning">Capital Will Store</span></h5><hr>
                                                                                        <h5 class="org_prc"><span class="old_prc">Interest:  18% </span></h5><hr>
                                                                                    <h5 class="org_prc"><span class="old_prc">Validity:  720 Hour </span></h5><hr>
                                        <h5 class="org_prc"><span class="old_prc">24/7Support</span></h5><hr>
                                    </div>
                                </div>
                                <div class="prd_bot_capt">
                                    <div class="prd_button">
                                                                                    <a href="{% url 'package' %}?sub_plan=Silver"  class="bth bth_prd">Subscribe</a>
                                                                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <div class="prd_grid_box">
                        
                            <div class="shd_142">
                                <div class="prt_saveed_12lk">
                                    <label class="toggler toggler-danger"><input type="checkbox"><i class="fas fa-heart"></i></label>
                                </div>
                            </div>
                            <div class="prd_grid_thumb">
                                <a href="#"><img src="assets/img/app.png" class="img-fluid" width="50" alt=""></a>
                            </div>
                            <div class="prd_grid_caption">
                                <div class="prd_center_capt">
                                    
                                    <div class="prd_title"><h4>DIAMOND</h4></div>
                                    <div class="prd_price_info">
                                        <h5 class="org_prc">Features</h5><hr>
                                                                                        <h5 class="org_prc">Amount: $5000</h5><hr>
                                                                                    
                                                                                        <h5 class="org_prc"> <span class="label label-warning">Capital Will Store</span></h5><hr>
                                                                                        <h5 class="org_prc"><span class="old_prc">Interest:  18% </span></h5><hr>
                                                                                    <h5 class="org_prc"><span class="old_prc">Validity:  720 Hour </span></h5><hr>
                                        <h5 class="org_prc"><span class="old_prc">24/7Support</span></h5><hr>
                                    </div>
                                </div>
                                <div class="prd_bot_capt">
                                    <div class="prd_button">
                                                                                    <a href="{% url 'package' %}?sub_plan=Diamond"  class="bth bth_prd">Subscribe</a>
                                                                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
                
            </div>
        
        </section>
       
            
            
        
      
        <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
            <div class="modal-dialog modal-xl login-pop-form" role="document">
                <div class="modal-content overli" id="loginmodal">
                    <div class="modal-header">
                        <h5 class="modal-title">Login Your Account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
                        </button>
                      </div>
                    <div class="modal-body">
                        <div class="login-form">
                            <form>
                            
                                <div class="form-group">
                                    <label>User Name</label>
                                    <div class="input-with-icon">
                                        <input type="text" class="form-control" placeholder="User or email">
                                        <i class="ti-user"></i>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label>Password</label>
                                    <div class="input-with-icon">
                                        <input type="password" class="form-control" placeholder="*******">
                                        <i class="ti-unlock"></i>
                                    </div>
                                </div>
                                
                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-md full-width theme-bg text-white">Login</button>
                                </div>
                                
                                <div class="rcs_log_125 pt-2 pb-3">
                                    <span>Or Login with Social Info</span>
                                </div>
                                <div class="rcs_log_126 full">
                                    <ul class="social_log_45 row">
                                        <li class="col-xl-4 col-lg-4 col-md-4 col-4"><a href="javascript:void(0);" class="sl_btn"><i class="ti-facebook text-info"></i>Facebook</a></li>
                                        <li class="col-xl-4 col-lg-4 col-md-4 col-4"><a href="javascript:void(0);" class="sl_btn"><i class="ti-google text-danger"></i>Google</a></li>
                                        <li class="col-xl-4 col-lg-4 col-md-4 col-4"><a href="javascript:void(0);" class="sl_btn"><i class="ti-twitter theme-cl"></i>Twitter</a></li>
                                    </ul>
                                </div>
                            
                            </form>
                        </div>
                    </div>
                    <div class="crs_log__footer d-flex justify-content-between mt-0">
                        <div class="fhg_45"><p class="musrt">Don't have account? <a href="#" class="theme-cl">SignUp</a></p></div>
                        <div class="fhg_45"><p class="musrt"><a href="#" class="text-danger">Forgot Password?</a></p></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->



</div>



{% endblock %}